:root {
    /* spacings */
    --spacing-sm: 5px;
    --spacing-md: 10px;
    --spacing-lg: 15px;
    --spacing-xl: 20px;
    --spacing-xxl: 25px;

    /* colors */
    --body-bg-color: #FFF;
    --body-main-color: #111;
    --a-href-color: #0969da;
    --text-color: #111;

    /* fonts */
    --font-regular: "Overpass", sans-serif;
    --font-monospace: "JetBrains Mono", monospace;
    --font-secondary: "Inter", serif;
    --font-size-h1: 42px;
    --font-size-h2: 34px;
    --font-size-h3: 28px;
    --font-size-button: 26px;

    /* sizes */
    --body-max-width: 1200px;
    --button-size: 80px;
    --button-border-radius: 30px;
    --container-padding: 20px;
    --space-size: 50px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --body-bg-color: #181818;
        --body-main-color: #B3B3B3;
        --a-href-color: #2F81F7;
        --text-color: #FFF;
    }
}

@media screen and (max-width:1200px) {
    :root {
        --body-max-width: 960px;
    }
}

@media screen and (max-width:940px) {
    :root {
        --body-max-width: 640px;
        --font-size-h1: 38px;
        --font-size-h2: 30px;
        --font-size-h3: 24px;
        --font-size-button: 18px;
        --button-size: 60px;
        --button-border-radius: 15px;
        --container-padding: 10px;
        --space-size: 25px;
    }
}

body {
    background: var(--body-bg-color);
    color: var(--body-main-color);
    font-family: var(--font-regular);
    font-size: 18px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

h1 {
    font-size: var(--font-size-h1);
}

a {
    color: var(--a-href-color);
}

h2 {
    font-size: 48px;
    margin: 0.5rem;
    color: var(--text-color);
}

h3 {
    font-size: var(--font-size-h3);
}

svg {
    width: 100%;
    height: auto;
}

a,
p,
span {
    font-family: var(--font-monospace);
}

a {
    text-decoration: none;
}

ol li {
    margin: 1em 0px
}

a.external_link::after {
    content: " ↗";
}

#footer {
    text-align: center;
    font-size: small;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    text-align: center;
}

.svg-container {
    width: 100%;
    max-width: 400px;
    display: inline-block;
}

.links-container {
    font-size: 16px;
    margin: var(--spacing-xl);
}

.links-container a {
    display: block;
    margin-bottom: 15px;
    text-decoration: none;
}

.links-container hr {
    margin-bottom: var(--spacing-xl)
}

.heartbeat {
    animation: heartbeat 1.5s infinite ease-in-out;
}

@keyframes heartbeat {
    0% {
        transform: scale(1.00);
    }

    50% {
        transform: scale(1.05);
    }

    100% {
        transform: scale(1.00);
    }
}

.dimmed {
    color: gray !important;
}

.header {
    display: flex;
    height: 64px;
    align-items: center;
    margin: 16px 32px;
}

.header span {
    margin-left: 10px;
    font-weight: 600;
    font-size: 30px;
    font-family: var(--font-regular);
}

.header a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.container {
    max-width: var(--body-max-width);
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.align_center {
    text-align: center;
}

.align_left {
    text-align: start;
}

.block {
    padding-top: var(--spacing-sm);
    padding-bottom: var(--spacing-sm);
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
}

.space {
    height: var(--space-size);
}

.mt {
    margin-top: var(--spacing-xl);
}

.mb {
    margin-bottom: var(--spacing-xl);
}

.button {
    background-color: #0091ff;
    color: white;
    border-radius: var(--button-border-radius);
    -webkit-border-radius: var(--button-border-radius);
    height: var(--button-size);
    font-size: var(--font-size-button);
    padding-left: var(--button-size);
    padding-right: var(--button-size);
    border: 0 none;
    font-weight: 700;
    box-sizing: content-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.announce-button-fixed {
    position: fixed;
    bottom: 20px;
    z-index: 10;
    left: 0;
    right: 0 !important;
    padding: 0 8px;
    text-align: center;
    -webkit-transition: opacity .7s;
    transition: opacity .7s;
    opacity: 1;
}

.announce-button-fixed .first {
    border-right: 1px solid rgba(255, 255, 255, .5)
}

.announce-button-fixed a {
    text-decoration: none;
}

.advantages_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-top: 40px;
}

.advantages_cards .callout_card {
    background-color: var(--callout-background-color);
    padding: 23px;
    border-radius: 8px;
}